.products {
    background-color: var(--body-first-color)
}

.products .section__title {
    color: var(--dark-color)
}

.products__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1120px;
    margin-inline: 1.5rem;
    margin: auto;
    padding: 1rem;
}

@media screen and(min-width:576px) {
    .products__container {
        grid-template-columns: repeat(2, 160px);
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .products__container {
        grid-template-columns: repeat(3, 160px);
        justify-content: center;
    }
}

@media screen and (min-width:1150px) {
    .products__container {
        grid-template-columns: repeat(3, 2fr);
        gap: 5rem;
        padding-bottom: 2rem;
    }


}
