.products__card {
    position: relative;
    background-color: var(--dark-color);
    padding: 1rem .5rem 1.25rem;
}

.products__image {
    position: relative;
    display: grid;
    justify-items: center;
    justify-self: center;
}

.products__shape {
    width: 120px;
    height: 120px;
    background-color: var(--first-color);
    border-radius: 50%;
    clip-path: inset(50% 0 0 0);
}

.products__image img {
    position: absolute;
}

.products__coffe {
    width: 80px;
    top: 0;
    transition: tranform .4s;
}

.products__ice-1 {
    width: 30px;
    left: .5rem;
    bottom: 0;
    transition: transform .5s .1s;
}

.products__ice-2 {
    width: 20px;
    top: 3.25rem;
    right: .75rem;
    rotate: 60deg;
    transition: transform .5s .1s;
}

.products__data {
    margin-top: 1.25rem;
}

.products__name {
    color: var(--white-color);
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.products__price {
    color: var(--first-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.products__button {
    position: absolute;
    right: .5rem;
    bottom: 1.25rem;
    width: 32px;
    height: 32px;
    background-color: var(--first-color);
    color: var(--dark-color);
    font-size: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px hsla(166, 85%, 8%, .24);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.products__card:hover .products__coffe {
    transform: translateY(-.25rem);
}

.products__card:hover .products__ice-1 {
    transform: translate(-.25rem, .25rem);
}

.products__card:hover .products__ice-2 {
    transform: translate(-.5rem, -.5rem);
}

@media screen and (min-width:1150px){
    .products__card{
        padding: 1.5rem 1rem 2rem;
      }
    
      .products__shape{
        width: 200px;
        height: 200px;
      }
    
      .products__coffe{
        width: 130px;
      }
    
      .products__ice-1{
        width: 50px;
        left: .75rem;
      }
    
      .products__ice-2{
        width: 30px;
        top: 5.5rem;
        right: 1.5rem;
      }
    
      .products__data{
        margin-top: 1.5rem;
      }
    
      .products__name, .products__price{
        font-size: var(--h2-font-size);
      }
    
      .products__button{
        font-size: 2rem;
        right: 1rem;
        bottom:1rem;
        width: 36px;
        height: 72px;
      }
}